nav.navbar
  .navbarLogo
    div
      img(src="/img/logos/mylinksLogo.png" alt="myLinks logo")
  a.nav__el.nav__el--cta(href="https://documenter.getpostman.com/view/19528437/UyrAFwpK" target="_blank") API Docs
    