extends base

block content 
    section.app-wrapper.section-padding.header
      .app-wrapper_info
        h3 short links, big results
        p.p-opensans MyLinks is a URL shortener API built with powerful tools to help you shorten your links and share with the world. 
        a.custom-button(href="https://documenter.getpostman.com/view/19528437/UyrAFwpK" target="_blank") Read Documentation
      figure.app-wrapper_img
        img(src="/img/logos/35184.jpg" alt="header img")